.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.modal-body {
  background-color: #E6E6E6;
  width: 30vw;
  height: 30vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative; 
}

.close-icon {
  width: 2vw;
  height: 2vw;
  border: 2px solid grey;
  align-self: flex-end;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0.5rem; 
  right: 0.5rem; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.close-icon span {
  font-size: 1.5vw;
  margin: 0;
  color: #000;
}

.modal-body h3 {
  font-size: 1.8vw;
  text-align: center;
}

.modal-button {
  background-color: #c0c0c0;
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  margin-top: 1rem;
}
