
.titleContainer {
  font-family: 'SF Pixelate', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 1vw;

}

.titleContainer > h1 {
  font-size: 6vw;
}

.TicTacToe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: black;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 3rem;
  height:3rem;
  background-color:#3c7c8c;
  margin: 5px;
  transition: all .2s;
  border-radius: 0%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.square--X {
  background-color:#8fa9bf;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.square--O {
  background-color: #061484;
  border-radius: 50%;
}

.square--X.winner {
  animation: x-winner-animation infinite  2s ease-in-out
}

.square--O.winner {
  animation: O-winner-animation infinite  .5s ease-in-out
}
@keyframes x-winner-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes O-winner-animation {
  0% {border-radius: 50%;}
  50% {border-radius: 0%;}
  100% {border-radius: 50%;}
}


.score-board {
  width: 10.5rem;
  display: grid;
  grid-auto-flow: column;
  margin-top: 1vh
}

.score-board div {
  color: white;
  text-align: center;
  font-family: 'SF Pixelate', sans-serif;
  font-size: 3vw;
  font-weight: bold; 
  background-color: #061484;
}

.score-board div:first-child {
  background-color: #8fa9bf;
}

@media screen and (min-width: 1023px){


  .titleContainer > h1{
    font-size: 3vw;
  }

  .square {
    width: 8rem;
    height: 8rem;
  }

  .score-board {
    width: 25rem;
  }
}



/* 
#6bb8ff
#ff5c5c (rojo)
#ffcb47 (amarillo) 
#0564d7 (azul) */