@import url('https://fonts.cdnfonts.com/css/sf-pixelate');

body, html {
  height: 100%;
  margin: 0;
}

.simonGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.title {
  font-family: 'SF Pixelate', sans-serif;
  color: white;
  margin-top: 1vw;
}

.Simonboard {
  width: 100vw;
  max-width: 30vw;
  height: 80vw;
  max-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  background-color: grey;
}

.colorCard {
  width: 50%;
  height: 50%;
}

.red {
  background-color: #FF0000;
  filter: brightness(0.5);
  
  
}

.yellow {
  background-color: #FFFF00;
  filter: brightness(0.5);
}

.blue {
  background-color: #0000FF;
  filter: brightness(0.5);
}

.green {
  background-color: #00FF00;
  filter: brightness(0.5);
}

.startButtonContainer {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.SimonstartButton {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-family: 'SF Pixelate', sans-serif;
  font-size: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
  height: 8vw;
  color: white;
  border-radius: 50%;
  background-color: black;
  font-family: 'SF Pixelate', sans-serif;
  font-size: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash {
  filter: brightness(1);
}

.resetButtonContainer{
  width: 10vw;
  height: 8vw;
  font-family: 'SF Pixelate', sans-serif;
  color: white;
  background-color: black;
  margin: 0.5vw auto;
}

